<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Online Arpit portfolio | web designer | content write | speaker | Freelancer</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- all static stylesheet file -->
    <link rel='stylesheet' type='text/css' media='screen' href='css/font-awesome.min.css'>
    <link rel='icon' type='text/image' media='screen' href='images/img1.png'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
   
</head>
<body>
    <!-- header start here -->
    <div class="top-header header">
        <!-- logo start here -->
        <div class="logo"><h1>Arpit Kansara</h1></div>
        <!-- navigation start here -->
        <div class="navbar navbar-top">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Download cv</a></li>
            </ul>
        </div>
    </div>
    <!-- banner or hero section start here -->
    <div class="slider hero-section">
        <div id="slide">
            <img src="images/img10.png">
            <img src="images/brijesh.jpg">
            <img src="images/brijesh1.jpg">
        </div>
        <h1 align="center">Brijesh kumar pandey</h1>
        <p align="center">Web Developer - Graphic Artist - User Experience - Designer-Web Designer </p>

    </div>
    <!-- content start here -->

    <div class="content">
        <h1 align="center">Our Portfolio</h1>
        <p align="center">Web Developer - Graphic Artist - User Experience - Designer-Web Designer </p>
        <div class="portfolio">
            <img src="images/img18.png">
        </div>

    </div>
    <!-- footer start here -->

     <!-- all static js file -->
     <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
     <!-- cycle.min.js -->
     <script src="https://malsup.github.io/jquery.cycle.all.js"></script>
     <!-- slider apply here -->
     <script type="text/javascript">
         $(document).ready(function()
         {
             $("#slide").cycle("fade");
             $("#slide img").css("overflow-y","hidden");
         });
     </script>
</body>
</html>