/* elastic layout : whenever we take width:1em (emphasized) and height:1em  that type of layot is called elastic layout*/
/* 1em=1/16 px*/
body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* .header 
{
    width: 1370px;
    height: 120px;
    background-color: lightblue;
} */

.header 
{
    width: 5.625em;
    height: 7.5em;
    background-color: lightblue;
}